@import './_mixins.scss';
@import './_variables.scss';

* {
  box-sizing: border-box;
}

.options {
  border: black 1px solid;
  margin-right: 10%;
  padding-right: 0%;
  margin-left: 60%;
  float: right;

  .description {
    display: block;
  }

  .option {
    color: $grey;
  }
}

.protection {
  a {
    color: $blue;
  }
}
.installments {
  text-align: center;
  color: $grey;
  .cost-a-month {
    @include nowrap-inline-block;
    color: black;
    margin: 0;
  }
  .with-financing-btn {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: $blue;
    cursor: 'pointer';
  }
}

.buy-now-price {
  width: auto;
  .discounted {
    @include nowrap-inline-block;
  }
  .total {
    @include nowrap-inline-block;
    size: 10px;
  }
}

.savings {
  @include nowrap-inline-block;
  color: black;
  font-size: 14px;
}

.savings, .discounted, .total {
  margin: 0;
}

.discounted {
  font-size: 24px;
  color: black;
}
.total{
  text-decoration: line-through;
}

.tag-icon {
  height: 12px;
  width: 12px;
}

.insurance {
  border: green 1px solid;
  text-align: justify;
  .insurance-box {
    @include nowrap-inline-block;
    border: pink 1px solid;
    width: 100;
  }
}

.heart {
  @include nowrap-inline-block;
  margin: 0;
  height: 16px;
  width: 16px;
}

.product-name {
  font-size: 19px;
  margin: 0;
  border: red 1px solid;
  width: 80%;
  height: 3em;
  float: left;
}

.reward-span{
  text-align: center;
  display: block;
  border: purple 1px solid;
}

.rewards-btn {
  size: 5px;
  display: inline-block;
  color: $blue;
}

.svg-icon {
  height: 11px;
  width: 11px;
  float: bottom;
}

.where-to-buy {
  font-size: 12px;
  display: inline-block;
}

.store-finder {
  white-space: nowrap;
  display: block;
  width: 100;
  float: left;
}

.plus-icon {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  float: left;
  fill: $blue;
}

.option-select {
  text-align: center;
  border: darkblue 1px solid;
}

.buy-now-span p {
  white-space: nowrap;
  border-radius: 25px;
  display: block;
  float: center;
  text-align: center;
  color: white;
  background-color: blue;
  margin: 0;
  padding: 14px 0;
}

.buy-now {
  font-size: 14px;
}



.product-code {
  @include nowrap-inline-block;
  color: $grey;
  font-weight: bold;
}

.btn-share {
  @include nowrap-inline-block;
  color: $blue;
}

.all-stars {
  @include nowrap-inline-block;
  color: $blue;
}

.quality-control {
  @include nowrap-inline-block;
  font-size: 12px;
  border: yellow 1px solid;
}

.all-stars, .btn-share {
  margin-left: 10px;
  margin-right: 10px;
}
