@import './_mixins.scss';
@import './_variables.scss';

* {
  box-sizing: border-box;
}

.options {
  margin-right: 10%;
  padding-right: 0%;
  margin-left: 60%;
  float: right;
  font-family: sans-serif;
  .description {
    display: block;
  }

  .option {
    color: $grey;
  }
}

.description {
  font-family: sans-serif;
}

.protection {
  a.tos {
    color: $dark-blue;
  }
}

.protection-details {
  font-size: 14px;
}

.installments {
  text-align: center;
  color: $grey;
  .cost-a-month {
    @include nowrap-inline-block;
    color: black;
    margin: 0;
  }
  .with-financing-btn {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: $sam-sung-blue;
    cursor: 'pointer';
  }
}

.buy-now-price {
  width: auto;
  .discounted {
    @include nowrap-inline-block;
  }
  .total {
    @include nowrap-inline-block;
    size: 10px;
  }
}

.savings {
  @include nowrap-inline-block;
  color: black;
  font-size: 14px;
}

.savings, .discounted, .total {
  margin: 0;
}

.discounted {
  font-size: 24px;
  color: black;
}
.total{
  text-decoration: line-through;
}

.tag-icon {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}
.click-and-save-info {
  color: $sam-sung-blue;
}

.insurance {
  display: flex;
  justify-content: space-around
}
.insurance-box {
  flex-grow: 2;
  margin: 3px;
  display: flex;
  flex-basis: 210px;
  min-width:210px;
  border-radius: 5px;
  border: #a6a6a6 1px solid;
  font-size: 14px;
}
.ins-plan {
  white-space: nowrap;
  margin: 23px 0px;
  font-size: 11px;
  height: 13px;
  flex-grow: 2;
  text-align: center;
}
.care {
  margin-left: calc( 1% + 3px);
  margin-right: 5px;
  margin-top: 15px;
  width: 65px;
  height: 45px;
  display: flex;
  text-align: justify;
  font-weight: bold;
}

.t-o-s {
  font-size: 10px;
  margin: 7px 0;
}

.total-home-savings {
  display: flex;
  flex-wrap: nowrap;
}
.explain-the-save {
  margin: 0;
  font-size: 11px;
}

.heart {
  @include nowrap-inline-block;
  margin: 0;
  height: 16px;
  width: 16px;
  font-family: arial;
}

.product-name {
  font-size: 20px;
  margin: 0;
  width: 80%;
  height: 3em;
  float: left;
}

.reward-span{
  text-align: center;
  display: block;
}

.rewards-btn {
  size: 5px;
  display: inline-block;
  color: $sam-sung-blue;
}

.protection-title {
  font-size: 14px;
}

.protection-details {
  font-size: 12px;
}

.svg-icon {
  fill: $sam-sung-blue;
  height: 11px;
  width: 11px;
  float: bottom;
}

.e-t-a {
  @include nowrap-inline-block;
  float: right;
}


.arival {
  font-size: 9px;
  color: $grey;
}
.free-shipping {
  margin: 0;
  font-size: 9px;
  display: inline-block;
}

.truck-icon {
  fill: $sam-sung-blue;
  height: 15px;
  width: 15px;
}

.where-to-buy {
  font-size: 12px;
  display: inline-block;
}

.store-finder {
  color: $dark-blue;
  white-space: nowrap;
  display: block;
  width: 100;
  float: left;
}

.plus-icon {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  float: left;
  fill: $sam-sung-blue;
}

.Choices {
  display: flex;
  flex-direction: row;

}

.option-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 60px;
  width: calc(33% - 10px);
  border-radius: 5px;
  margin: 0 10px 10px 0px;
  text-align: center;
  border: #a6a6a6 1px solid;
  font-size: 14px;
}

.buy-now-span p {
  white-space: nowrap;
  border-radius: 25px;
  display: block;
  float: center;
  text-align: center;
  color: white;
  background-color: blue;
  margin: 0;
  padding: 14px 0;
}

.buy-now {
  font-size: 14px;
}

.product-code {
  @include nowrap-inline-block;
  color: $grey;
  font-weight: bold;
}

.btn-share {
  @include nowrap-inline-block;
  color: $sam-sung-blue;
}

.all-stars {
  @include nowrap-inline-block;
  color: $sam-sung-blue;
}

.quality-control {
  @include nowrap-inline-block;
  font-size: 10px;
  border: yellow 1px solid;
}

.all-stars, .btn-share {
  margin-left: 10px;
  margin-right: 10px;
}
